/* вторичный цвет текста, так как их не много #212121 (все заголовки) */
/* основной цвет текста, тот которого больше всего на странице #757575 */
/* белый #FFFFFF (первая секция с крупным текстом)*/
/* чёрный #000000 */
/* акцент синий #2196F3 */

/* вторичный цвет фона светлый #F5F4FA */
/* вторичный цвет фона тёмный #2F303A */

:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
  --primary-black-color: #0000000;
  --bg-dark-color: #2f303a;
  --bg-light-color: #f5f4fa;
}

*,
::after,
::before {
  box-sizing: border-box;
}

.container {
  outline: 2px solid tomato;

  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;

  margin: 0 auto;
}

body {
  background-color: var(--primery-white-color);
  color: var(--primary-text-color);

  font-size: 14px;
  line-height: 1.71;
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
}

img {
  display: block;
  max-width: 100%;
}

header {
  margin: 0 auto;
  border: 1px solid var(--bg-light-color);
}
/* Logo */
.logo {
  color: var(--primary-black-color);
  font-family: Raleway, sans-serif;

  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
}

.logo > span {
  color: var(--accent-color);
}

/* Отключает символьную точку в списке */
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* Шапка сайта */
/* Site nav */
.main-nav nav {
  display: flex;
  align-items: center;
}

.main-nav {
  display: flex;
  align-items: center;
}

.site-nav {
  margin-left: 93px;
}

.main-nav .contacts {
  margin-left: auto;
}

.site-nav,
.contacts {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  display: flex;
}

.site-nav .item,
.contacts .item {
  margin-right: 50px;
}

.site-nav .item:last-child,
.contacts .item:last-child {
  margin-right: 0;
}

.site-nav .item {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
}

/* Или два кортких варианта для очистки крайних марджинов последних елементов
Делается обязательно!!! */

/* .site-nav .item:not(:last-child) {
  margin-right: 50px;
} */

/* .site-nav .item + .item {
  margin-left: 50px;
} */

.site-nav a {
  color: var(--title-text-color);
  text-decoration: none;
}
.site-nav a:hover,
.site-nav a:focus {
  color: var(--accent-color);
}

.site-nav a.current {
  color: var(--accent-color);
}

.contacts a {
  color: var(--primary-text-color);
  text-decoration: none;
}
.contacts a:hover,
.contacts a:focus {
  color: var(--accent-color);
}

/* Footer */
.footer {
  background-color: var(--bg-dark-color);
}

.footer .container {
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer.address {
  color: var(--primary-white-color);
  font-style: normal;
}

.footer.address .link {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  display: block;
}

.footer .logo {
  color: var(--primary-white-color);

  display: inline-block;
  padding-bottom: 20px;
}

button {
  cursor: pointer;
}

h2,
h3,
p {
  margin: 0;
}
