button {
  color: var(--title-text-color);
  background-color: var(--bg-light-color);

  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
}

button.nav:hover,
button.nav:focus {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
}

h3 {
  color: var(--title-text-color);
  letter-spacing: 0.06em;

  font-weight: 700;
  font-size: 18px;
  line-height: 2;
}

.text {
  font-size: 16px;
  line-height: 1.19;
}
